<nav>
    <div class="logo">
        <h1>VouchDigital</h1>
    </div>
    <div class="menu">
        <a href="/login">Home</a>
        <a href="/login">Login</a>
        <a href="/Signup">Signup</a>
    </div>
</nav>