<%- include("partials/header.ejs") -%>

<%- include("partials/navbar.ejs") -%> 

<div class="container">
    <div class="cardLogin">
        <div class="banner">
            <img class="profile-photo" src="images/Avtar3.png" alt="">
        </div>
        <div class="card-content">
         <form action="/resetpassword" method="post">
            <div class="email">
                <h1>Otp</h1>
                <input type="number" name="otpCode" id="" placeholder="Enter Your Otp">
            </div>
            <div class="email">
                <h1>Password</h1>
                <input type="password" name="password" id="" placeholder="Enter Your Password">
            </div>
            <div class="button">
                <button type="submit">Confirm Password</button>
            </div>
        </form> 
        </div>
    </div>
</div>

<%- include("partials/footer.ejs") -%> 
    
